/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Moderate violet: hsl(263, 55%, 52%)
Very dark grayish blue: hsl(217, 19%, 35%)
Very dark blackish blue: hsl(219, 29%, 14%)
White: hsl(0, 0%, 100%)

### Neutral

Light gray: hsl(0, 0%, 81%)
Light grayish blue: hsl(210, 46%, 95%)

Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

## Typography

### Body Copy

- Font size: 13px

### Font

- Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed)
- Weights: 500, 600


*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&display=swap');

:root {

    --lightgray:hsl(0, 0%, 81%);
    --Light_grayish_blue: hsl(210, 46%, 95%);
    --Moderate_violet: hsl(263, 55%, 52%);
    --Vd_grayish_blue: hsl(217, 19%, 35%);
    --Vd_blackish_blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --White50: hsl(0, 0%, 50%);
    --White70: hsl(0, 0%, 70%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: var(--Light_grayish_blue);
}

main {
    margin: 5vh auto;
    display: flex;
    flex-direction: row;
    width: 83%;
}

.persona{
display: flex;
flex-direction: row;
margin:5px;
padding:1px;
}

.persona div{
    margin:2px;
}

.persona div p{
    /*color: var(--White50);*/
    font-weight: 100;
}

.persona div h3{
    font-weight: 300;
}

.persona h4{
    font-weight: 600;
}

article{
    border-radius: 8px;
    padding: 30px 30px 40px 30px;
    margin:0 10px;
}

article img {
    border-radius: 50%;
    width:30px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

article h4 {
    font-size: 17px;
    margin: 10px 0;
}

/*Left Section */

section#left{
    width: 75%;
    /*margin:2%;*/
    display: flex;
    flex-direction:column;
}


div.part_one {
    display: flex;
    flex-direction: row;
    /*margin: 5px;*/
}

div.part_one article:nth-child(1){
    width: 65%;
    margin: 0 10px;
    background-image: url(/images/bg-pattern-quotation.svg);
    background-position-x: 300px ;
    background-position-y:10px;
    background-repeat: no-repeat;
    background-color: var(--Moderate_violet);
}

div.part_one article:nth-child(2){
    background-color: var(--Vd_grayish_blue);
    width: 35%;
    margin: 0 10px;
}

div.part_two{
    display: flex;
    flex-direction: row;
    margin: 15px;
}

div.part_two article{
    padding: 20px;
}

div.part_two article:nth-child(1){
    background-color: var(--White);
    width: 35%;
    margin: 10px;
    
    
}

div.part_two article:nth-child(2){
    background-color: var(--Vd_blackish_blue);
    width: 65%;
    margin: 10px;
}

/* Right Section */

section#right{
    background-color: var(--White);
    width: 23%;
    border-radius: 8px;
    /*margin:2%;*/
    
}


/*Font Colors*/


.title_white h3{
    color: var(--White);
}

.title_white p{
    color: var(--White70);
}

.body_white h4{
    color: var(--White);
}

.body_white q{
    color: var(--White70);
}

.white_font{
    color: var(--White);
}

.white_font50{
    color: var(--White50);
}

.white_font70{
    color: var(--White70);
}

.blue_font{
    color: var(--Vd_grayish_blue);
}


/* Attribution */

.attribution{
    text-align: center;
}